.dart_tool
.flutter-plugins-dependencies
.git
.github
.idea
.superpowers
.vscode
.env
.env.*
android/app/debug
android/app/profile
android/app/release
android/local.properties
/android
build
coverage
/docs
key.jks
*.jks
*.key
*.keystore
*.p12
*.pem
/linux
/macos
rust/target
/test
/windows
